@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
}

#booking-nav {
  margin-left: -1rem;
  width: calc(100% + 20px);
}

.booking {
  margin-top: 5rem;
}

